<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.team4.travel.object.reviewMapper">
	<select id="getReviewList" parameterType="hashmap" resultType="com.team4.travel.object.reviewVO">
    	SELECT T1.*, T2.reviewCount
		FROM (
			SELECT * FROM reviewTable WHERE placeNumber = #{placeNumber} AND reviewCategory = #{reviewCategory}
		) AS T1 
		LEFT JOIN (
			SELECT reviewNumber, COUNT(*) AS reviewCount FROM reviewScoreTable GROUP BY reviewNumber
		) AS T2
		ON T1.reviewNumber = T2.reviewNumber
		ORDER BY 
		<if test="reviewOrder == 0">
			reviewCount DESC, T1.reviewDate ASC, T1.reviewNumber DESC
		</if>
		<if test="reviewOrder == 1">
			T1.reviewDate ASC, T1.reviewNumber DESC
		</if>
		
		<if test="limit > 0">
			LIMIT #{limit}
		</if>
    </select>
    
    <select id="getReviewInfo" parameterType="int" resultType="com.team4.travel.object.reviewCountVO">
    	SELECT reviewCategory, COUNT(*) AS reviewCount
		FROM reviewTable
		WHERE placeNumber = #{placeNumber}
		GROUP BY reviewCategory
    </select>
    
    <insert id="addNewReview" parameterType="com.team4.travel.object.reviewVO">
    	INSERT INTO reviewTable
    	(placeNumber,userNumber,reviewTitle,reviewText,reviewCategory)
    	VALUES (#{placeNumber},#{userNumber},#{reviewTitle},#{reviewText},#{reviewCategory})
    </insert>
</mapper>










