<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.team4.travel.object.selectMapper">
    
    <select id="getContinentList" resultType="com.team4.travel.object.selectVO">
        SELECT continentNumber AS number, koreanName, englishName FROM continentTable ORDER BY koreanName ASC;
    </select>
    <select id="getCountryList" resultType="com.team4.travel.object.selectVO">
        SELECT countryNumber AS number, koreanName, englishName, countryLat, countryLng FROM countryTable ORDER BY koreanName ASC;
    </select>
    
    <insert id="insertCountry" parameterType="com.team4.travel.object.countryVO">
    	INSERT INTO countryTable(continentNumber, englishName, koreanName, countryLat, countryLng) VALUES (#{continentNumber}, #{englishName}, #{koreanName}, #{countryLat} , #{countryLng});
    </insert>
    
    <insert id="insertArea" parameterType="com.team4.travel.object.areaVO">
    	INSERT INTO areaTable(countryNumber, englishName, koreanName, areaLat, areaLng) VALUES (#{countryNumber}, #{englishName}, #{koreanName}, #{areaLat} , #{areaLng});
    </insert>
    
    <select id="getCountryName" parameterType="int" resultType="string">
    	SELECT englishName FROM countryTable WHERE countryNumber = #{countryNumber}
    </select>
    
    <select id="getAddPlaceList" resultType="com.team4.travel.object.placeVO">
    	SELECT T1.*, T2.englishName AS areaName FROM placeTable AS T1 LEFT JOIN
		areaTable AS T2 ON T1.areaNumber = T2.areaNumber WHERE placeCheck = 0 ORDER BY placeNumber DESC
    </select>
    
    <update id="allowPlace" parameterType="int">
    	UPDATE placeTable SET placeCheck = 1 WHERE placeNumber = #{placeNumber}
    </update>
    
    <delete id="denyPlace" parameterType="int">
    	DELETE FROM placeTable WHERE placeCheck = 0 AND placeNumber = #{placeNumber}
    </delete>
    
    <select id="getReviewList" resultType="com.team4.travel.object.reviewVO">
    	SELECT T1.*, T2.reviewCount
		FROM reviewTable AS T1 
		LEFT JOIN (
			SELECT reviewNumber, COUNT(*) AS reviewCount FROM reviewScoreTable GROUP BY reviewNumber
		) AS T2
		ON T1.reviewNumber = T2.reviewNumber
		ORDER BY  T1.reviewDate DESC, T1.reviewNumber DESC ,reviewCount DESC
    </select>
    
    <delete id="deleteReview" parameterType="int">
    	DELETE FROM reviewTable WHERE reviewNumber = #{reviewNumber}
    </delete>
</mapper>