<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.team4.travel.object.selectMapper">
    
    <select id="getContinentList" resultType="com.team4.travel.object.selectVO">
        SELECT continentNumber AS number, koreanName, englishName FROM continentTable ORDER BY koreanName ASC;
    </select>
    <select id="getCountryList" resultType="com.team4.travel.object.selectVO">
        SELECT countryNumber AS number, koreanName, englishName, countryLat, countryLng FROM countryTable ORDER BY koreanName ASC;
    </select>
</mapper>