img#mainBackground{
    display: none;
}

section#mainSection{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 20px;

    min-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto auto auto;
    justify-content: start;
    justify-items: center;
    align-items: center;
    align-content: center;
}

section#mainSection div#placeImg {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    min-width: 1200px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-bottom: 2px solid rgba(200, 255, 255, 0.8);
}
section#mainSection div#placeImg:hover > h1 {
    opacity: 0;
    transition: opacity ease 0.5s 0s;
}
section#mainSection div#placeImg img{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    min-width: 1200px;
    width: 100vw;
    height: 250px;
    object-fit: cover;
    filter: blur(2px);
    transition: filter ease 0.5s 0s;
}
section#mainSection div#placeImg img:hover{
    filter: blur(0px);
    transition: filter ease 0.5s 0s;
}
section#mainSection div#placeImg h1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    z-index: 999;
    font-size: 50px;
    color: rgba(255,255,255,1);
    text-shadow: 0 0 10px rgba(0,0,0,0.8), 0 0 5px rgba(0,0,0,0.8), 0 0 2px rgba(0,0,0,0.8);
    transition: opacity ease 0.5s 0s;
}


section#mainSection div#placeInfo {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 1200px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-end;
    justify-content: flex-end;
}
section#mainSection div#placeInfo p{
    margin: 0px 10px;
    padding: 5px 20px;
    font-size: 28px;
    font-weight: bold;
    background-color: rgba(240,240,240,0);
    border-radius: 500px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.6), 0 0 6px rgba(0,0,0,0.7), 0 0 3px rgba(0,0,0,0.8), 0 0 1px rgba(0,0,0,1);
    transition: background-color ease 0.5s 0s;
}
section#mainSection div#placeInfo p#placeCount {
    cursor: pointer;
}
section#mainSection div#placeInfo p#placeCount:hover{
    background-color: rgba(200,200,200,0.6);
    transition: background-color ease 0.5s 0s;
}


section#mainSection div#placeMaps {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 1200px;
    max-width: 1200px;
    min-width: 1200px;
    height: 400px;
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.2);
}


section#mainSection div#placeReview {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 50px 60px;
    margin: 50px 0px;
    margin-bottom: 100px;
    background-color: rgba(255,255,255,0.9);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    column-gap: 50px;
    border-radius: 15px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
}

section#mainSection div#placeReview div#reviewInfo{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    row-gap: 10px;
}
section#mainSection div#placeReview div#reviewInfo div#allReview{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}
section#mainSection div#placeReview div#reviewInfo div#allReview p#allTitle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 6px rgba(0,0,0,0.3), 0 0 4px rgba(0,0,0,0.6), 0 0 1px rgba(0,0,0,0.8);
}
section#mainSection div#placeReview div#reviewInfo div#allReview p#allCount{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    transition: color ease 0.3s 0s;
}
section#mainSection div#placeReview div#reviewInfo div#allReview:hover > p#allCount{
    color: rgba(255,0,0,1);
    transition: color ease 0.3s 0s;
}
section#mainSection div#placeReview div#reviewInfo div.countBox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 150px;
}
section#mainSection div#placeReview div#reviewInfo div.countBox:hover > p.countTitle {
    color: rgba(0,0,0,1);
    transition: color ease 0.5s 0s;
}
section#mainSection div#placeReview div#reviewInfo div.countBox:hover > p.countNumber {
    color: rgba(0,0,0,0.5);
    transition: color ease 0.5s 0s;
}
section#mainSection div#placeReview div#reviewInfo div.countBox p.countTitle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    transition: color ease 0.5s 0s;
}
section#mainSection div#placeReview div#reviewInfo div.countBox p.countNumber{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: right;
    color: rgba(0,0,0,0);
    min-width: 150px;
    font-size: 14px;
    transition: color ease 0.5s 0s;
}
section#mainSection div#placeReview div#reviewInfo div.countBox meter{
    height: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
}
section#mainSection div#placeReview div#reviewInfo div.countBox meter::-webkit-meter-bar{
    background-color: rgba(255,255,255,0);
    border: none;
    height: 30px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
    border-radius: 0px;
    height: 16px;
}
section#mainSection div#placeReview div#reviewInfo div.countBox meter::-webkit-meter-optimum-value{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
    height: 30px;
    border-radius: 0px;
    height: 16px;
}
section#mainSection div#placeReview div#reviewInfo input#writeReview{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    color: rgb(150,150,150);
    transition: border ease 0.3s 0s, color ease 0.3s 0s, box-shadow ease 0.3s 0s;
}
section#mainSection div#placeReview div#reviewInfo input#writeReview:hover{
    border: 1px solid rgb(0,0,0);
    color: rgb(0,0,0);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
    transition: border ease 0.3s 0s, color ease 0.3s 0s, box-shadow ease 0.3s 0s;
}








section#mainSection div#placeReview div#goodReview{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
section#mainSection div#placeReview div#badReview{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
section#mainSection div#placeReview div.reviewBoxStyle{
    padding: 30px 30px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    row-gap: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
section#mainSection div#placeReview div.reviewBoxStyle input.buttonStyle{
    font-size: 20px;
    padding: 5px 15px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    color: rgb(150,150,150);
    transition: border ease 0.3s 0s, color ease 0.3s 0s, box-shadow ease 0.3s 0s;
}
section#mainSection div#placeReview div.reviewBoxStyle input.buttonStyle:hover{
    border: 1px solid rgb(0,0,0);
    color: rgb(0,0,0);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
    transition: border ease 0.3s 0s, color ease 0.3s 0s, box-shadow ease 0.3s 0s;
}


section#mainSection div#placeReview div.reviewBoxStyle div.sampleReview {
    display: grid;
    min-width: 300px;
    padding: 20px 20px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
section#mainSection div#placeReview div.reviewBoxStyle div.sampleReview:hover > p.sampleTitle{
    color: rgba(0,0,0,1);
    transition: color ease 0.3s 0s;
}
section#mainSection div#placeReview div.reviewBoxStyle div.sampleReview:hover > p.sampleDate{
    color: rgba(255,50,50,1);
    transition: color ease 0.3s 0s;
}
section#mainSection div#placeReview div.reviewBoxStyle div.sampleReview p.sampleTitle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-weight: bold;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    color:rgba(0,0,0,0.6);
    transition: color ease 0.3s 0s;
}
section#mainSection div#placeReview div.reviewBoxStyle div.sampleReview p.sampleText{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 300px;
    height: 90px;
    margin: 5px 0px;
    font-size: 18px;
    overflow: scroll;
    word-break: break-all;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
section#mainSection div#placeReview div.reviewBoxStyle div.sampleReview p.sampleText::-webkit-scrollbar { 
    display: none;
}
section#mainSection div#placeReview div.reviewBoxStyle div.sampleReview p.sampleDate{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 14px;
    color:rgba(0,0,0,0.6);
    transition: color ease 0.3s 0s;
}

section#mainSection div#placeReview div.reviewBoxStyle div.emptyReviewBox {
    min-width: 300px;
    height: 190px;
    padding: 20px 20px;
    text-align: center;
    line-height: 190px;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    transition: color ease 0.3s 0s;
}
section#mainSection div#placeReview div.reviewBoxStyle div.emptyReviewBox:hover {
    color: rgba(0, 0, 0, 0.2);
    transition: color ease 0.3s 0s;
}

div#reviewBoxBackground {
    z-index: 99999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    background-color: rgba(100,100,100,0.2);
}



div#writeReviewBox {
    z-index: 99999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    background-color: rgba(100,100,100,0.2);
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

div#writeReviewBox form#writeReviewForm {
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: start;
    justify-items: start;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    row-gap: 5px;
}
div#writeReviewBox form#writeReviewForm label.writeReviewRadio input[type=radio]{
    margin: 0px 5px;
}
div#writeReviewBox form#writeReviewForm label.writeReviewRadio input[type=radio]:checked ~ span{
    color: red;
}